.about-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; 
  max-width: 800px;
  margin: 0 auto;
}

.text-container {
  flex: 1;
}

.image {
  max-width: 200px;
  margin-right: 20px;
}


@media screen and (max-width: 768px) {
  .about-block {
    flex-direction: column;
    align-items: center;
  }

  .image {
    margin-bottom: 20px;
  }
}
