.kids-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; 
    margin-top: 10px; /* уменьшаем отступ сверху */
}

.kids-container h1 {
    font-size: 2em; /* задаем размер шрифта */
    margin-bottom: 20px; /* увеличиваем отступ снизу */
}
