.New {
    margin-top: 30px;
  }
  
  .New > h2 {
    margin-bottom: 32px;
  }
  
  .New .category {
    margin-bottom: 20px;
  }
  
  .New .category-title {
    margin: 10px 0;
    text-align: center;
    padding: 40px;
    border-radius: 9px;
  }