.women-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    justify-content: center;
    height: auto; 
}

.women-block {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}
